body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #333;
}

#customName {
    margin: 10px;
    padding: 5px;
}

#generateButton {
    background-color: #bd70c0;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 1px;
}

#generateButton:hover {
    background-color: #52034c;
}
